<launch>
    <arg name="world_file" default="$(find orb)/worlds/cafe.world"/>
  
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find orb)/urdf/simple_bot.urdf.xacro'" />

    <param name="pink_box_description"
        command="$(find xacro)/xacro --inorder '$(find orb)/urdf/pink_box.urdf.xacro'" />

    <node name="robot_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model simple_bot -z 0.1 -param robot_description"/>

    <node name="box_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model pink_box -x 4 -z 0.1 -param pink_box_description"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <!-- <include file="$(find socspioneer)/launch/keyboard_teleop.launch"/> -->

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" args="scan:=base_scan">
        <param name="base_frame" value="base_link"/>
        <param name="odom_frame" value="odom"/>
	    <param name="map_frame" value="map"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orb)/rviz/config.rviz"/>

    <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" output="screen"/>

    <node pkg="orb" type="api.py" name="api_node" output="screen"/>
    <node pkg="orb" type="odometry_fix.py" name="odometry_fixer_node" output="screen"/>
    <node pkg="orb" type="estimated_pose_publisher.py" name="estimated_pose_publisher_node" output="screen"/>

    <!--Exploration stuff-->
    <!-- <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <rosparam file="$(find orb)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find orb)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find orb)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find orb)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find orb)/config/base_local_planner_params.yaml" command="load" />
    </node>
    <include file="$(find explore_lite)/launch/explore.launch"/> -->

</launch>
